body{
    background-color: #5A96E3;
}

div{
    background-color: #00f5c8;
    margin: 5%;
    color: #000000;
    padding: 2%;
    text-align: center;
}

h1{
    font-family: "Belanosima";
    font-size: 200%;
}

p{
    font-family: "Lora";
    font-size: 150%;
    font-weight: 500;
}

span{
    font-size: 100%;
    font-weight: 400;
}


img{
    height: 120px;
}
